<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
">

    <bean id="target" class="com.itheima.aop.Target"/>
    <bean id="myAspect" class="com.itheima.aop.MyAspect"/>
    <aop:config>
        <aop:aspect ref="myAspect">
            <aop:pointcut id="myPointCut" expression="execution(* com.itheima.aop.*.*(..))"/>
<!--            <aop:before method="before" pointcut="execution(public void com.itheima.aop.Target.save())"></aop:before>-->
<!--            <aop:before method="before" pointcut="execution(void com.itheima.aop.Target.save())"></aop:before>-->
<!--            <aop:before method="before" pointcut="execution(* com.itheima.aop.*.*(..))"></aop:before>-->
<!--            <aop:after-returning method="afterRetuning" pointcut="execution(* com.itheima.aop.*.*(..))"></aop:after-returning>-->
<!--            <aop:around method="around" pointcut="execution(* com.itheima.aop.*.*(..))"></aop:around>-->
            <aop:around method="around" pointcut-ref="myPointCut"></aop:around>
<!--            <aop:after-throwing method="afterThowing" pointcut="execution(* com.itheima.aop.*.*(..))"></aop:after-throwing>-->
<!--            <aop:after method="after" pointcut="execution(* com.itheima.aop.*.*(..))"></aop:after>-->
<!--            <aop:before method="before" pointcut="execution(* com.itheima.aop..*.*(..))"></aop:before>-->
<!--            <aop:before method="before" pointcut="execution(* *..*.*(..))"></aop:before>-->
        </aop:aspect>
    </aop:config>


</beans>